.landing-page {
  background: linear-gradient(145deg, #ffc867, #f037a6);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.25rem 2.5vw;
}

.reduxify-landing-logo {
  font-style: normal;
  font-weight: 700;
  color: #1e3264;
  margin: 0 0 -0.625rem 0;
  letter-spacing: 0.0625rem;
  font-size: 3rem;
}

.reduxify-landing-logo img {
  margin-right: 1rem;
  height: 3.125rem;
  width: 3.125rem;
}

.catch-phrase {
  text-align: center;
  letter-spacing: -0.04em;
  color: #1e3264;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 4.25rem;
  max-width: 80%;
  margin: 1.5625rem 0;
}

.directions {
  font-style: normal;
  font-weight: 400;
  max-width: 90%;
  text-align: center;
  color: #1e3264;
  margin-top: -0.3125rem;
  padding-bottom: 0.625rem;
  line-height: 1.55;
  font-size: 1.25rem;
}

.button-rounded {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  background: #ffffff;
  color: #ffffff;
  display: inline-block;
  border-radius: 1.1875rem;
  height: 2.375rem;
  padding: 0 2.1875rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid transparent;
  text-transform: uppercase;
  border: solid 3px #ffffff;
  border-radius: 1.875rem;
  height: 3.75rem;
  padding: 0 3.4375rem;
  background-color: transparent;
  font-size: 1rem;
}
